<div class="main-container">
    <div class="header">
        <ul>
            <div class="logo">
                <li><a href="/"><span id="log">&#8962;|</span>Shophome!|</a></li>
            </div>
            <div class="find">
                <input type="text" placeholder="Search iteam">
            </div>
            <div class="links">
                <li><a href="/">Home</a></li>
                <li><a href="/product">Product</a></li>
                <li><a href="/customer">Customers</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/cart">Cart <span id="cart">&#128722;</span></a></li>
            </div>
        </ul>
    </div>
